.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("/img/background_002.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8);

  &__content {
    color: $color_three;
    padding: 3rem 1.3rem;
    line-height: 1;

    h1 {
      font-size: clamp(3rem, 8vw, 7rem);
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: clamp(1rem, 3vw, 2.5rem);
      margin-bottom: 3rem;
    }
  }
}
