.membership {
  background: #4da0b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #d39d38,
    #4da0b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #d39d38,
    #4da0b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 3px 5px 33px rgba(0, 0, 0, 0.8);
  color: $color_three;
  padding: 6rem calc((100vw - 1100px) / 2);
  text-align: center;

  h1 {
    margin-bottom: 1rem;
    font-size: clamp(3rem, 5vw, 3rem);
    padding: 0 1rem;
  }
  &__desc {
    margin-bottom: 3rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: 1rem;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    @include m_q(1100px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__perks {
    min-height: 200px;
  }
  .card-icon {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .card-one {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)
      ),
      url("../img/desk_002.jpg");
    background-position: center center;
    background-size: cover;

    .card-icon {
      color: $color-nine;
    }
    h3 {
      color: $color-nine;
    }
  }

  .card-two {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)
      ),
      url("../img/desk_001.jpg");
    background-position: center center;
    background-size: cover;
    .card-icon {
      color: $color-five;
    }
    h3 {
      color: $color-five;
    }
  }
  .card-three {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)
      ),
      url("../img/deks_003.jpg");
    background-position: center center;
    background-size: cover;

    .card-icon {
      color: $color-eight;
    }

    h3 {
      color: $color-eight;
    }
  }
}
