.navbar {
  width: 100%;
  position: fixed;
  opacity: 0.9;
  z-index: 999;
  background: $color_two;
  height: 60px;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8);

  &__logo {
    color: $color_three;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 1rem;
    font-size: 1.7rem;

    span {
      font-weight: normal;
      text-transform: none;
      font-family: $font-two;
      color: $color_one-light;
    }
  }

  .navbar__menu {
    @include m_q(768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      position: absolute;
      width: 100%;
      top: -1000px;
      transition: all 0.6s ease-in-out;

      &.active {
        top: 100%;
        opacity: 0.97;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: $color_two-dark;
      }
    }
  }

  &__link {
    color: $color_three;
    text-decoration: none;
    padding: 2.5rem 1rem 0;
    @include m_q(768px) {
      @include flexBox;
    }
  }
  &__link:hover {
    text-decoration: underline;
    font-weight: bold;
    color: $color_seven;
  }

  .navbar__toggle .bar {
    @include m_q(768px) {
      width: 38px;
      height: 3px;
      margin: 7px auto;
      transition: all 0.5s ease-in-out;
      background-color: $color_three;
      display: block;
      cursor: pointer;
    }
  }
  #mobile-menu {
    @include m_q(768px) {
      position: absolute;
      top: 15%;
      right: 5%;
      transform: translate(5%, 20%);

      &.is-active .bar:nth-child(2) {
        // opacity: 0;
        transform: translateX(-60px);
        background: transparent;
      }
      &.is-active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
      }
      &.is-active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }
}
